[submodule "provider-backblaze"]
	path = provider-backblaze
	url = https://github.com/rossigee/provider-backblaze

[submodule "provider-btcpay"]
	path = provider-btcpay
	url = https://github.com/rossigee/provider-btcpay

[submodule "provider-cloudflare"]
	path = provider-cloudflare
	url = https://github.com/rossigee/provider-cloudflare

[submodule "provider-discord"]
	path = provider-discord
	url = https://github.com/rossigee/provider-discord

[submodule "provider-docker"]
	path = provider-docker
	url = https://github.com/rossigee/provider-docker

[submodule "provider-gitea"]
	path = provider-gitea
	url = https://github.com/rossigee/provider-gitea

[submodule "provider-harbor"]
	path = provider-harbor
	url = https://github.com/rossigee/provider-harbor

[submodule "provider-http"]
	path = provider-http
	url = https://github.com/rossigee/provider-http

[submodule "provider-libvirt"]
	path = provider-libvirt
	url = https://github.com/rossigee/provider-libvirt

[submodule "provider-mailgun"]
	path = provider-mailgun
	url = https://github.com/rossigee/provider-mailgun

[submodule "provider-matrix"]
	path = provider-matrix
	url = https://github.com/rossigee/provider-matrix

[submodule "provider-minio"]
	path = provider-minio
	url = https://github.com/rossigee/provider-minio

[submodule "provider-namecheap"]
	path = provider-namecheap
	url = https://github.com/rossigee/provider-namecheap

[submodule "provider-openstack"]
	path = provider-openstack
	url = https://github.com/crossplane-contrib/provider-openstack

[submodule "provider-plausible"]
	path = provider-plausible
	url = https://github.com/rossigee/provider-plausible

[submodule "provider-signoz"]
	path = provider-signoz
	url = https://github.com/rossigee/provider-signoz

[submodule "provider-hostinger"]
	path = provider-hostinger
	url = https://github.com/rossigee/provider-hostinger

[submodule "provider-keycloak"]
	path = provider-keycloak
	url = https://github.com/rossigee/provider-keycloak

[submodule "provider-rabbitmq"]
	path = provider-rabbitmq
	url = https://github.com/rossigee/provider-rabbitmq


[submodule "build"]
	path = build
	url = https://github.com/rossigee/build
	branch = main
[submodule "provider-vault"]
	path = provider-vault
	url = https://github.com/rossigee/provider-vault
